{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <script src="{% static 'home/app.js' %}"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <div class="section1">
        <header>
          <img
            src="{% static 'home/imgs/home_hero.jpg' %}"
            alt="Hero"
            class="top-hero"
          />
          <img
            src="{% static 'home/imgs/mobile_hero.jpg' %}"
            alt="Hero"
            class="top-mobile-hero"
          />

          <nav>
            <div class="navigation">
              <a href="#"
                ><img
                  src="{% static 'home/imgs/logo.png' %}"
                  alt="Logo"
                  class="logo"
              /></a>

              <ul class="navigation-links">
                <li class="nav-link">
                  <a href="#" class="nav-a sign-in">Sign In</a>
                </li>

                <div class="sign-up-container">
                  <li class="nav-link">
                    <a href="#" class="nav-a sign-Up">Sign Up</a>
                  </li>
                </div>
              </ul>
            </div>
          </nav>
        </header>

        <div class="section1-main-body">
          <div class="s1-title-text-container">
            <h1 class="s1-title-text">turpis egestas sed tempus urna</h1>

            <p class="s1-text">
              convallis aenean et tortor at risus viverra adipiscing at in
              tellus integer feugiat scelerisque varius morbi enim
            </p>
          </div>
          <button class="s1-btn btn">Get Now</button>
        </div>
      </div>

      <div class="section2">
        <div class="section2-info">
          <h2 class="section2-title">Welcome To Blossom. An Expense Tracker</h2>

          <p class="section2-par">
            Track where most of your money are getting spent. Sign Up to create
            a free account
          </p>
        </div>

        <div class="section2-views">
          <div class="desk-img"></div>
          <div class="phone-img"></div>
        </div>
      </div>

      <div class="section3">
        <div class="section3-container">
          <div class="charts">
            <img
              src="{% static 'home/imgs/chart.svg' %}"
              alt="Chart"
              class="chart-image"
            />

            <h3 class="chart-title">Real Time Analytics</h3>
            <p class="chart-par">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et minima
              sit accusamus, error nobis culpa ratione unde?
            </p>
          </div>

          <div class="money">
            <img
              src="{% static 'home/imgs/money.svg' %}"
              alt="money"
              class="money-image"
            />

            <h3 class="money-title">Real Time Analytics</h3>
            <p class="money-par">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et minima
              sit accusamus, error nobis culpa ratione unde?
            </p>
          </div>

          <div class="question">
            <img
              src="{% static 'home/imgs/question.svg' %}"
              alt="question"
              class="question-image"
            />

            <h3 class="question-title">Real Time Analytics</h3>
            <p class="question-par">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et minima
              sit accusamus, error nobis culpa ratione unde?
            </p>
          </div>
        </div>
      </div>

      <div class="section4">
        <img
          src="{% static 'home/imgs/dream.jpg' %}"
          alt=""
          class="section4-img"
        />

        <div class="section4-text">
          <h2 class="section4-title">Start your journey in becoming wealthy</h2>
          <p class="section4-par">
            diam volutpat commodo sed egestas egestas fringilla phasellus
            faucibus scelerisque eleifend donec pretium vulputate sapien nec
            sagittis aliquam malesuada bibendum arcu vitae elementum curabitur
          </p>

          <button class="section4-btn btn">Sign Up</button>
        </div>
      </div>

      <div class="section5">
        <h2 class="section5-title">Why Join Us?</h2>

        <div class="section5-ind">
          <img
            src="{% static 'home/imgs/headset.svg' %}"
            alt="Headtset"
            class="ind-img"
          />
          <p class="ind-par">
            All Time Support
          </p>
        </div>

        <div class="section5-ind">
          <img
            src="{% static 'home/imgs/cert.svg' %}"
            alt="Certificate"
            class="ind-img"
          />
          <p class="ind-par">
            Trust Cert
          </p>
        </div>

        <div class="section5-ind">
          <img
            src="{% static 'home/imgs/play.svg' %}"
            alt="play"
            class="ind-img"
          />
          <p class="ind-par">
            Video tutorial
          </p>
        </div>

        <div class="section5-ind">
          <img
            src="{% static 'home/imgs/calc.svg' %}"
            alt="calc"
            class="ind-img"
          />
          <p class="ind-par">
            Business Calc
          </p>
        </div>

        <div class="section5-ind">
          <img
            src="{% static 'home/imgs/graph.svg' %}"
            alt="graph"
            class="ind-img"
          />
          <p class="ind-par">
            Precise Graphs
          </p>
        </div>

        <div class="section5-ind">
          <img
            src="{% static 'home/imgs/card.svg' %}"
            alt="card"
            class="ind-img"
          />
          <p class="ind-par">
            Accepts Every Card
          </p>
        </div>
      </div>

      <div class="section6">
        <h2 class="section6-title">
          Why Track Your Money?
        </h2>

        <img
          src="{% static 'home/imgs/card.jpg' %}"
          alt="Card"
          class="section6-img"
        />
      </div>
    </div>
  </body>
</html>
