{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <script src="{% static 'home/app.js' %}"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="section1">
      <header>
        <img
          src="{% static 'home/imgs/home_hero.jpg' %}"
          alt="Hero"
          class="top-hero"
        />

        <nav>
          <div class="navigation">
            <a href="#"
              ><img
                src="{% static 'home/imgs/logo.png' %}"
                alt="Logo"
                class="logo"
            /></a>

            <ul class="navigation-links">
              <li class="nav-link">
                <a href="#" class="nav-a sign-In">Sign In</a>
                <a href="#" class="nav-a sign-Up">Sign Up</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </div>
  </body>
</html>
