{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <script src="{% static 'home/app.js' %}"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <div class="section1">
        <header>
          <img
            src="{% static 'home/imgs/home_hero.jpg' %}"
            alt="Hero"
            class="top-hero"
          />
          <img
            src="{% static 'home/imgs/mobile_hero.jpg' %}"
            alt="Hero"
            class="top-mobile-hero"
          />

          <nav>
            <div class="navigation">
              <a href="#"
                ><img
                  src="{% static 'home/imgs/logo.png' %}"
                  alt="Logo"
                  class="logo"
              /></a>

              <ul class="navigation-links">
                <li class="nav-link">
                  <a href="#" class="nav-a sign-in">Sign In</a>
                </li>

                <div class="sign-up-container">
                  <li class="nav-link">
                    <a href="#" class="nav-a sign-Up">Sign Up</a>
                  </li>
                </div>
              </ul>
            </div>
          </nav>
        </header>

        <div class="section1-main-body">
          <div class="s1-title-text-container">
            <h1 class="s1-title-text">turpis egestas sed tempus urna</h1>

            <p class="s1-text">
              convallis aenean et tortor at risus viverra adipiscing at in
              tellus integer feugiat scelerisque varius morbi enim
            </p>
          </div>
          <button class="s1-btn btn">Get Now</button>
        </div>
      </div>

      <div class="section2">
        <h2 class="section2-title">Welcome To Blossom. Expense Tracker</h2>

        <p class="section2-par">
          Track where most of your money are getting spent. Sign Up to create a
          free account
        </p>

        <div class="phone-img"></div>
        <div class="desk-img"></div>
      </div>
    </div>
  </body>
</html>
