* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* .top-hero {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.logo {
  width: 150px;
  height: 150px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* MAKE MOBILE VIEW FIRST  */

.top-hero {
  display: none;
}

.top-mobile-hero {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 667px;
}

.logo {
  width: 95px;
  height: 95px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.sign-up-container {
  width: 99px;
  height: 31px;

  background: #d34e2c;
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.sign-in {
  padding-right: 25px;
}

.nav-a {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}

.s1-title-text-container {
  width: 85%;
  margin: 0 auto;
}

.s1-title-text {
  margin-top: 75px;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  text-align: center;

  color: #000000;
}

.s1-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  width: 172px;
  height: 47px;

  background: #d34e2c;
  border-radius: 5px;
  border: none;

  font-size: 24px;
  line-height: 36px;

  text-align: center;

  color: #ffffff;
}
